#features-container {
    height: 90vh;

    @media (max-width: 1024px) {
        height: fit-content;
    }

    .feature-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        height: 20%
    }

    .feature-columns {
        display: flex;
        flex-direction: column-reverse; /* stack vertically on small screens */
        height: fit-content;
    }

    .text-card {
        background-color: var(--primary-black);
        border-radius: 1em;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
        margin-left: 1em;
        padding: 1em;
    }


    .text-column {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .image-column {
        flex: 70%;
        min-width: 70%;
    }

    @media (max-width: 1024px) {
        .feature-columns {
            flex-direction: column; /* stack vertically on small screens */
            height: fit-content;
        }

        .image-column {
            order: -1; /* make the image appear first */
        }

        .image-column {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text-column {
            margin-top: 30px;
            flex-direction: column;
        }
    }

    @media (max-width: 768px) {
        .features-container {
            height: auto;
        }
    }

    .desktop-chat-scroll {
        position: absolute;
        right: -40%; /* Adjust this value as needed */
        transition: right ease-out;
        width: 60vw;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    }

    .mobile-chat {
        width: 60vw;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        .show-only-tablet {
            display: block; /* Show the element on tablet devices */
        }
    }

    @media (max-width: 767px), (min-width: 1025px) {
        .show-only-tablet {
            display: none; /* Hide the element on non-tablet devices */
        }
    }
}