#feature {
    border: 2px solid var(--primary-black);
    background-color: var(--primary-black);
    border-radius: 2em;
    margin: 1em;
    padding: 0.5em 1.5em;
    flex-basis: 0;
    flex-grow: 1;
    transition: flex-grow 0.5s ease-in-out, border 0.3s ease;
    text-align: center;
    align-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);

    @media (min-width: 1024px) {
        &:hover {
            flex-grow: 1.2;
            border: 2px solid var(--secondary-white);
        }
    }

    @media (max-width: 1024px) {
        width: 80%;
    }
}