#report-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    border-radius: 5px;
    padding-top: 15px;
    width: 100%;
    max-width: 300px;
    z-index: 999999999999999999999;

    #btn-close {
        top: 2px;
        right: 0;
        position: absolute;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-image:  url('/close_icon.svg');
        background-color: transparent;
        border: none;

        &:focus {
            outline: none;
        }
    }

    .reported-message-display {
        margin-top: 10px;
        width: 93%;
        
        .message-image-display {
            max-width: 50px;
        }
    }

    .report-text {
        resize: none;
        height: 120px;
    }

    #submit {
        display: flex;
        align-items: center;
        justify-content: center;

        .loading-spinner {
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            border-top: 4px solid var(--primary-light-blue	);
            width: 16px;
            height: 16px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }
        
        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }
    
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999999999999999998;
}