.about-container, .members, .member, .member-photo, .photo-container, .about-content, .aboutus-text, .aboutus-title, .item:first-child, .circle, .circle:before, .text-title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-black);
}
.members {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    border: 1px solid black;
    background-color: var(--primary-black);
    margin: 0 2rem 2rem 2rem;  
}
.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px;
    margin: 0 2rem 2rem 2rem;  
}

.member-photo {
    border-radius: 50%;
    width: 250px; 
    height: 250px; 
    object-fit: cover;
}

.photo-container {
    text-align: center;
}

.about-content {
    text-align: center;
    margin: 0 2rem 2rem 2rem;  
    
}

.aboutus-text {
    font-family: 'Codec Pro';
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 2rem;
    text-align: center;
}

.aboutus-title {
    font-family: '29LT Bukra';
    color: white;
    font-size: 50px;
    margin-top: 20px;
}

.item:first-child {
    border-left: none;
}
.circle {
    width: 80%;
    padding-bottom: 5%;
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
}
.circle:before {
    content: '';
    display: block;
    padding-top: 100%;
}
.text-title {
    text-align: center;
    font-family: '29LT Bukra';
    color: white;
    font-size: 20px;
}
