.chat-info-container {
    display: flex;
    background-color: var(--primary-black);
    align-items: center;
    gap: 10px;
}

.chat-details-container {
    background-color: var(--primary-blue);
    height: 100%;
    position: relative;
    
}

.message {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    max-width: 45%;
}

.received {
    margin-right: auto;
    background-color: rgb(161, 155, 148);
}

.sent {
    margin-left: auto;
    background-color: rgb(111, 203, 203);
}

.mobile-only {
    display: none;
}

@media (max-width: 768px) {
    .mobile-only {
        display: block;
    }
}

.input-container {
    display: flex;
    background-color: var(--primary-black);
    padding: 10px;
    bottom: 0px;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
}

.message-input {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: var(--secondary-black);
    color: var(--secondary-white);
    padding-left: 30px;
    width: 100%;
}