.chat-details-container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-blue);
    height: 100%;

    .chat-info-container {
        display: flex;
        background-color: var(--primary-black);
        align-items: center;
        color: var(--secondary-white);
        gap: 10px;
    }

    .message-container {
        display: flex;
        width: 100%;
    }

    .profile-picture-placeholder, .profile-picture {
        width: 50px;
        height: 50px;
        margin: 10px;
        border-radius: 50%;
    }

    .message {
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
        position: relative;
        max-width: 45%;

        &:hover .message-options-button {
            display: block;
        }
    }

    .message-options-button {
        position: absolute;
        top: 0;
        right: 0;
        background: inherit;
        border: none;
        border-radius: 50%;
        padding: 0px;
        margin-right: 10px;
        margin-top: 8px;
        display: none;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .message-text {
        word-wrap: break-word;
    }

    .received {
        margin-right: auto;
        background-color: var(--secondary-black);
    }

    .sent {
        margin-left: auto;
        background-color: var(--secondary-orange);
    }

    .back-button {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .mobile-only {
        display: none;
    }

    @media (max-width: 768px) {
        .mobile-only {
            display: block;
        }
    }

    .input-container {
        display: flex;
        padding: 10px;
        box-sizing: border-box;
    }

    .input-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        border: none;
        border-radius: 15px;
        background-color: var(--secondary-black);

        .emoji-button, .file-button {
            position: absolute;
            border: none;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .message-input {
            flex-grow: 1;
            border: none;
            outline: none;
            padding: 10px;
            background-color: var(--secondary-black);
            margin-left: 30px;
            margin-right: 30px;
        }

        .file-button {
            background-color: var(--secondary-black);
            background-image: url('/upload_file_icon.svg');
            background-repeat: no-repeat;
            background-position: center;
            right: 10px;
        }

        .emoji-button {
            background-color: var(--secondary-black);
            background-image: url('/emoji_icon.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .message-time {
        text-align: right;
        font-size: 0.8em;
        width: 100%;
        color: #c9c9c9;
    }

    .day-tag {
        text-align: center;
        color: #c0c0c0;
    }

    .chat-container {
        overflow-y: auto;
        flex: 1;
    }

    .chat-container::-webkit-scrollbar {
        width: 10px;
    }

    .chat-container::-webkit-scrollbar-thumb {
        background: inherit;
    }

    .chat-container::-webkit-scrollbar-thumb:hover {
        background: var(--secondary-black);
    }

    .selected-files-container {
        position: absolute;
        bottom: 60px;
    }

    .file-display {
        margin: 0 0 10px 10px;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        width: 80%;
        min-width: fit-content;
    }

    .file-icon {
        margin-right: 10px;
        font-size: 1.5em;
    }

    .file-name {
        font-weight: bold;
        word-wrap: break-word;
    }

    .file-size {
        font-size: 0.8em;
        color: #666;
    }

    .remove-file {
        margin-left: auto;
        color: var(--secondary-white);
        background-color: inherit;
        cursor: pointer;
        background-image: url('/close_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        border: none;
    }

    .message-file-display {
        display: flex;
        background-color: var(--secondary-black);
        border-radius: 8px;
        padding: 10px;
    }

    .sent .message-file-display {
        background-color: var(--secondary-black);
    }

    .received .message-file-display {
        background-color: var(--secondary-orange);
    }

    .user-name {
        font-weight: bold;
    }

    .no-chat-selected {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 10px;
        background-color: var(--primary-blue);
        color: var(--secondary-white);

    }

    .background-ship {
        width: 100%;
    }

    .no-permissions-message {
        margin: 0;
        margin-left: 10px;
        padding: 8px;
        font-size: 0.8rem;
    }
}
