
#profile-container {
    height: calc(100vh - var(--navbar-height));
    background-image: linear-gradient(var(--primary-blue), var(--primary-light-blue));

    .content {
        overflow: clip;
    }

    h2 {
        margin-top: 1.6em;
    }

    .profile-container {
        width: 100%;
        z-index: -1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .profile-container h1, .profile-container h2,
    .profile-container h3, .profile-container h4,
    .profile-container h5, .profile-container h6,
    .profile-container p, .profile-container a {
        color: var(--secondary-white);
    }

    .profile-fixed-bottom {
        position: fixed;
        bottom: 0;
        height: 90vh;
        z-index: 0;
    }

    @media (max-width: 768px) {
        .profile-container {
            align-items: initial;
        }

        .profile-fixed-bottom {
            display: none;
        }
    }
}


