.main-container {
    display: flex;
    flex-direction: row;
}

.search-input {
    width: 85%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: var(--primary-blue);
    color: var(--secondary-white);
}

.search-input::placeholder {
    color: var(--secondary-white);
}

.chats {
    width: 100%;
    background-color: var(--primary-black);
    padding: 10px;
}

.chat-details {
    display: none;
    background-color: var(--primary-blue);
}

/* iPad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .chats, .chat-details {
        width: 50%;
    }

    .chat-details {
        display: block;
    }
}

/* Laptop and larger */
@media only screen 
and (min-width : 1224px) {
    .chats {
        width: 40%;
    }

    .chat-details {
        width: 60%;
        display: block;
    }
}