.login-container {
    background-image: linear-gradient(var(--primary-blue), var(--primary-light-blue));
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login-container h1, .login-container h2,
.login-container h3, .login-container h4,
.login-container h5, .login-container h6,
.login-container p, .login-container a {
    color: var(--secondary-white);
}
