
#login-container {
    .content {
        overflow: clip;
    }
    
    .login-container {
        background-image: linear-gradient(var(--primary-blue), var(--primary-light-blue));
        z-index: -1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .login-container h1, .login-container h2,
    .login-container h3, .login-container h4,
    .login-container h5, .login-container h6,
    .login-container p, .login-container a {
        color: var(--secondary-white);
    }

    .login-fixed-bottom {
        position: absolute;
        bottom: 0;
        height: 90vh;
        z-index: 0;
    }

    @media (max-width: 768px) {
        .login-container {
            align-items: initial;
        }
    }
}


