#new-chat-menu {
    position: absolute;
    background-color: var(--secondary-black);
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
    bottom: 60px;
    right: -180px;
    max-width: 230px;
    width: 100%;


    height: 300px;
    z-index: 100;

    .next-button {
        width: 100%
    }

    .create-button {
        width: 100%;
        margin-top: 20%;
    }

    label {
        font-size: 12px;
    }

    .selected-users-preview {
        display: flex;
        width: 100%;
        overflow-x: hidden;
        margin-top: 20px;
        gap: 5px;

        .user-container-small {
            width: 40px;
            border-radius: 5px;
            padding: 5px;
            background-color: var(--primary-light-blue);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .profile-picture {
                border-radius: 50%;
                width: 25px;
                height: 25px;
            }

            p {
                font-size: 12px;
                margin: 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        p {
            font-size: 12px;
        }
    }


    .image-and-name-row {
        border-top: 1px solid #ffffff;
        display: flex;
        padding-top: 10px;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

        .image-preview,
        .image-preview-placeholder {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
        }

        .image-preview-placeholder {
            background-color: var(--primary-black);
            background-image: url('/camera_icon.svg');
            background-repeat: no-repeat;
            background-position: center;
        }

        .input-group-image {
            display: none;
        }
    }

    .input-group-name,
    .report-type-selector {
        width: 100%;
        margin-top: 10px;
    }

    #btn-close,
    #btn-back {
        top: 5px;
        cursor: pointer;
        margin-bottom: 3px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border: none;
        position: absolute;
        z-index: 100;

        &:focus {
            outline: none;
        }
    }

    #btn-close {
        right: 0;
        background-image: url('/close_icon.svg');
    }

    #btn-back {
        left: 0;
        background-image: url('/back_icon.svg');
    }

    #inner-content {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        .input-container {
            position: sticky;
            top: 0;
            padding-top: 14px;
            margin-bottom: 5px;
            background-color: var(--secondary-black);

            .input-filter-users {
                padding: 10px;
                border: none;
                border-radius: 15px;
                background-color: var(--primary-light-blue);
                color: var(--secondary-white);
                padding-left: 30px;
                background-image: url('/search_icon.svg');
                background-position: 5px center;
                background-repeat: no-repeat;

                &::placeholder {
                    color: var(--secondary-white);
                }
            }
        }

        .users-container {
            overflow-y: scroll;
            width: 100%;

            &::-webkit-scrollbar {
                width: 10px;
            }
    
            &::-webkit-scrollbar-thumb {
                background: var(--secondary-black);
            }
    
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
        }


        .user-container {
            width: 100%;
            cursor: pointer;
            box-sizing: border-box;
            display: flex;
            gap: 10px;
            padding: 5px;
            border-radius: 5px;
            align-items: center;

            &:hover {
                background-color: var(--primary-light-blue);
            }

            .profile-picture {
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }

            .user-selection-checkbox {
                margin-left: auto;
            }
        }
    }
}